<div *ngIf="imageList !== undefined">
  <span class="lead">Search Results:</span>
  <div class="card-columns" *ngIf="!showMessage">
    <div
      class="card"
      *ngFor="let image of imageList; let i = index"
      (mouseenter)="onHover(i)"
      (mouseleave)="onHover(-1)"
    >
      <img
        src="{{ image.urls.small }}"
        class="card-img-top"
        alt="{{ image.alt_description }}"
      />
      {{ searchLists }}
      <div class="card-img-overlay text-white" *ngIf="i == hoverIndex">
        <h5 class="card-title">{{ image.alt_description }}</h5>
        <a
          href="{{ image.links.download }}"
          target="blank"
          download
          class="btn btn-primary"
          >Download</a
        >
      </div>
    </div>
  </div>
  <div *ngIf="showMessage" class="alert alert-info">
    No any matches keyword for Images!
  </div>
</div>

<div class="p-5 bg-light" *ngIf="!imageList">
  <h1 class="text-muted display-4">Enter Image Search Keyword</h1>
</div>
